<br>
<br>
Forget your password? Enter your login email below, and we will stop everything we are doing, rush into our huge archives, find it, and email it right to you!
<br/>
<br/>
<% form_tag password_resets_path do %>
  <label>Email address</label><br />
  <%= text_field_tag "email", '', :size => 65 %><br />
  <br />
  <div id='div' style='text-align:right; width: 465px;'>
    <%= image_submit_tag('/images/submit.jpg', :height => "25") %>
  </div>
<% end %>