!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %title
      Local Search Made Wonderful
    %link{ :href => "/stylesheets/stylesheet.css", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/960/reset.css", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/960/960.css", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/960/text.css", :rel => "stylesheet" , :media => "all", :type => "text/css"}
    %script{ :type => "text/javascript", :src => "/javascripts/jquery-1.3.2.min.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/jquery.corner.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/jquery.corners.inner_outer.js" }

  %body
    .container_12
  
      / BOF HEADER
        
      .superHeader
        = render :partial => '/welcome/nav'
      .clear

      .logoHeader
        %img{ :src => "/images/hqLogo.jpg", :height => "200" }

      .search
        %form{ :action => "#"}
          %input{ :class => "text", :type => "text", :onclick =>"this.value=''", :value => "Local Search Made Wonderful" }
          %input{ :name => "searchbg", :type => "hidden" }
          %input{ :name => "template", :type => "hidden" }
          %input.search_button{ :type => "image", :src => "/images/searchTab.jpg", :value => "Search", :height => "35" }
    
      = render :partial => 'mainNav'
      = image_tag('/images/dropShadow.jpg', :style => "display:inline;")
      

      %h1 
        Forgot Password
      %p
        Forget your password? Enter your login email below, and we will stop everyhing we are doing, rush into our huge archive, and reset it for you
      %br
      - form_tag password_resets_path do |f|
        =label :email,"Email " 
        =text_field_tag :email
        =submit_tag "Reset my password"

