<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>myHQpage</title>
<link rel="stylesheet" type="text/css" media="all" href="/code/css/reset.css" />
<link rel="stylesheet" type="text/css" media="all" href="/code/css/960.css" />
<link rel="stylesheet" type="text/css" media="all" href="/960.css" />
</head>
<body>

<div class="container_12">
<!--Header Div -->
<div id="login">
  <a href="#">Login / Sign Up</a>
  </div>
  <table width="700" border="1" align="right">
    <tr>
        <td><img src="/images/logo.jpg" width="50" height="60" alt="HQ" align="right" /></td>
    </tr>
  </table>

  
    <div class="grid_12" id="greenBorders">
    <div id="title">
	  <div id="name">The Monkey Bar</div>
      </div>
	  <table width="700" border="1" align="right">
	    <tr>
	      <td><img src="/images/stars-big.gif" style="margin-top:8px" width="163" height="31" alt="stars" align="right" /></td>
        </tr>
      </table>
  </div>
<div class="clear">&nbsp;</div>
	<!-- END HeaderDiv -->
	
	<!-- Navbar Div -->
	<div class="grid_12" id="navbar">
    <div id="navbarLinks">
		<ul>
			<li><a href="#">Profile</a></li>
			<li><a href="#">Highlights</a></li>
			<li><a href="#">User Reviews</a></li>
			<li><a href="#">Critics Reviews</a></li>
			<li><a href="#">Menu</a></li>
		</ul>
    </div>
	</div>
    <div id="share">
    <a href="#">Share</a>
    </div>
    
	<div class="clear">&nbsp;</div>
	<!-- End Navbar Div-->
	
	<!--Top Section-->
	<div class="grid_5 topSection">
	  <div id="infoBox">
      	<div id="logoBoxandQuickNav">
        <div id="logoBox"><img src="/images/monkey.JPG" alt="" width="135" height="136" style="margin: auto" /></div>
      
      
        <div id="quickFactsNav">
        <a href="#">Write a Review</a>
		<a href="#"><img src="/images/contact.jpg" width="170" height="35" alt="contact" /></a><br />
		<a href="#"><img src="/images/notifyme.jpg" width="170" height="35" alt="notify me" /></a><br />
		<a href="#"><img src="/images/mapit.jpg" width="170" height="35" alt="mapit" /></a><br />
	  	</div>
</div>
           <div id="quickInfo">
		<h3>Address</h3><p>
        600 Showers Drive. <br />
        Mountain View, CA <p>
        <h3>Credit Cards</h3> <p>
        Visa, Mastercard <p>
        <h3>Insurance</h3>
        MetLife
        </div>
      </div>
	</div>
	
<div id="viewer">
		<img src="/images/viewer.jpg" width="539" height="300" alt="viewer" />
</div>
	
  <div class="clear">&nbsp;</div>

	<!--End TopSection-->
	
	<div class="clear">&nbsp;</div>
	<!--End Spacer-->
	
	<!-- LEFT SIDE -->
    <div id="leftColumn">
	<div class="grid_3">
    <div id="pageTitle">
		<h3>Login:</h3>
       </div>
       
<div class="roundedcornr_box_188368">
   <div class="roundedcornr_top_188368"><div></div></div>
      <div class="roundedcornr_content_188368">
         <div id="leftContact">
         <form>
         Login: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="firstname" size="50">
        <br>
        Password:  
        <input type="password" name="town" size="50">
        <br>
        <span class="smalltext"><a href="#">Forgot your password?</a></span>
        </form>
   

        
         </div>
         <br /><br /><br /><br />
              <br /><br /><a href="#"><img src="/images/submit.jpg" /></a> 
        <input type="checkbox" name="rememberMe" value="rememberMe"> Remember me
         </p>
      </div>
   <div class="roundedcornr_bottom_188368"><div></div></div>
   
</div>
	
    </div>
    </div>
    <!-- eof LEFT SIDE -->
    
    <!-- RIGHT SIDE -->
    <div id="rightColumn">
    <span style="color:#666">
    Photo Galleries <br />
    <img src="/images/gallery.jpg" /> <br />
    Video Gallery <br />
    <img src="/images/gallery.jpg" /> <br />
    </span>
    
    
       <!-- BOF Calendar Widget -->

     <div id="calendarTitle">
         <div id="calendarName"> Sales Calendar</div>
          <div id="removeBtn"><a href="#"><img src="/images/removeBtn.jpg" width="25" /></a></div>
         
    </div>
    <div class="roundedcornr_box_824138">
       <div class="roundedcornr_top_824138">
       <div></div></div>
          <div class="roundedcornr_content_824138">
          
            <div class="roundedcornr_box_502323">
               <div class="roundedcornr_top_502323"><div></div></div>
                  <div class="roundedcornr_content_502323">
                     <p>
                     <div id="eventTitle">Spring Break Sale</div>
                     <div id="eventDate">5/09</div>
                     <div id="eventDescription">
                     	Clothing is half off everything and better yet, we are selling the country
                        of Lithuania to any of our first shoppers. And not to worry, this petite little
                        country has an amazing waffle industry established only for guaranteed success.
                     </div>
                     <div id="eventReadMore"><a href="#">Read More</a></div>
                     <div id="eventuserslikethis">USERS LIKE THIS</div>
                     <div id="eventVotes">8</div>
                      <div class="voteUpvoteDown">
                     <a href="#"><img src="/images/voteUpb.jpg" /></a>
                     <a href="#"><img src="/images/voteDownb.jpg" /></a>
                     </div>
                     </p>
                  </div>
               <div class="roundedcornr_bottom_502323"><div></div></div>
            </div>
            
            <div class="roundedcornr_box_886995">
               <div class="roundedcornr_top_886995"><div></div></div>
                  <div class="roundedcornr_content_886995">
                     <p>
                     <div id="eventTitle">Spring Break Sale</div>
                     <div id="eventDate">5/09</div>
                     <div id="eventDescription">
                     	Clothing is half off everything and better yet, we are selling the country
                        of Lithuania to any of our first shoppers. And not to worry, this petite little
                        country has an amazing waffle industry established only for guaranteed success.
                     </div>
                     <div id="eventReadMore"><a href="#">Read More</a></div>
                     <div id="eventuserslikethis">USERS LIKE THIS</div>
                     <div id="eventVotes">18</div>
                     <div class="voteUpvoteDown">
                     <a href="#"><img src="/images/voteUp.jpg" /></a>
                     <a href="#"><img src="/images/voteDown.jpg" /></a>
                     </div>
                     </p>
                  </div>
               <div class="roundedcornr_bottom_886995"><div></div></div>
            </div>
            
             <div class="roundedcornr_box_502323">
               <div class="roundedcornr_top_502323"><div></div></div>
                  <div class="roundedcornr_content_502323">
                     <p>
                     <div id="eventTitle">Spring Break Sale</div>
                     <div id="eventDate">5/09</div>
                     <div id="eventDescription">
                     	Clothing is half off everything and better yet, we are selling the country
                        of Lithuania to any of our first shoppers. And not to worry, this petite little
                        country has an amazing waffle industry established only for guaranteed success.
                     </div>
                     <div id="eventReadMore"><a href="#">Read More</a></div>
                     <div id="eventuserslikethis">USERS LIKE THIS</div>
                     <div id="eventVotes">8</div>
                      <div class="voteUpvoteDown">
                     <a href="#"><img src="/images/voteUpb.jpg" /></a>
                     <a href="#"><img src="/images/voteDownb.jpg" /></a>
                     </div>
                     </p>
                  </div>
               <div class="roundedcornr_bottom_502323"><div></div></div>
            </div>
            
            <div class="roundedcornr_box_886995">
               <div class="roundedcornr_top_886995"><div></div></div>
                  <div class="roundedcornr_content_886995">
                     <p>
                     <div id="eventTitle">Spring Break Sale</div>
                     <div id="eventDate">5/09</div>
                     <div id="eventDescription">
                     	Clothing is half off everything and better yet, we are selling the country
                        of Lithuania to any of our first shoppers. And not to worry, this petite little
                        country has an amazing waffle industry established only for guaranteed success.
                     </div>
                     <div id="eventReadMore"><a href="#">Read More</a></div>
                     <div id="eventuserslikethis">USERS LIKE THIS</div>
                     <div id="eventVotes">18</div>
                     <div class="voteUpvoteDown">
                     <a href="#"><img src="/images/voteUp.jpg" /></a>
                     <a href="#"><img src="/images/voteDown.jpg" /></a>
                     </div>
                     </p>
                  </div>
               <div class="roundedcornr_bottom_886995"><div></div></div>
            </div>
            
            
            
           
            
            
            
          </div>
       <div class="roundedcornr_bottom_824138"><div>
       </div></div>
    </div>
   
    <!-- EOF Calendar Widget -->
    
    <!-- BOF HQ CARD -->
    
    <div id="hqCardHeader">
    <span class="carddeal">
    Don't have one? <a href="#"> It's free.</a>
    </span>
    </div>
   
   <div class="roundedcornr_box_883802">
   <div class="roundedcornr_top_883802"><div></div></div>
      <div class="roundedcornr_content_883802">
          <div id="hqCardSection">
          
          <div class="hqCardDeal">
            <h4>Free Crown Molding + Hardware w/ Cabinet Purchase</h4>
            <ul>
                <li>limit one per customer</li>
                <li>new customers only</li>
            </ul>
          
            <div id="eventuserslikethis">USERS LIKE THIS</div>
                     <div id="eventVotes">18</div>
                     <div class="voteUpvoteDown">
                     <a href="#"><img src="/images/voteUp.jpg" /></a>
                     <a href="#"><img src="/images/voteDown.jpg" /></a>
                     </div>
           </div>
           
            <div class="hqCardDeal">
            <h4>Free Crown Molding + Hardware w/ Cabinet Purchase</h4>
            <ul>
                <li>limit one per customer</li>
                <li>new customers only</li>
            </ul>
          
            <div id="eventuserslikethis">USERS LIKE THIS</div>
                     <div id="eventVotes">18</div>
                     <div class="voteUpvoteDown">
                     <a href="#"><img src="/images/voteUp.jpg" /></a>
                     <a href="#"><img src="/images/voteDown.jpg" /></a>
                     </div>
           </div>
           
            <div class="hqCardDeal">
            <h4>Free Crown Molding + Hardware w/ Cabinet Purchase</h4>
            <ul>
                <li>limit one per customer</li>
                <li>new customers only</li>
            </ul>
          
            <div id="eventuserslikethis">USERS LIKE THIS</div>
                     <div id="eventVotes">18</div>
                     <div class="voteUpvoteDown">
                     <a href="#"><img src="/images/voteUp.jpg" /></a>
                     <a href="#"><img src="/images/voteDown.jpg" /></a>
                     </div>
           </div>
           
           
    </div>
      </div>
   <div class="roundedcornr_bottom_883802"><div></div></div>
</div>
   
   
   <!-- EOF HQ CARD -->
   
   
   
  
    </div>
    
    <!-- eof RIGHT SIDE -->
	
	<div class="clear">&nbsp;</div>
	<!--End Stories Area-->
	
	<!--Spacer-->
	<div class="grid_12 spacer">
	</div>
	<div class="clear">&nbsp;</div>
	<!--End Spacer-->
	

	<!--End Stories Area-->		
</div>

</body>
</html>