<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>myHQpage</title>
<link rel="stylesheet" type="text/css" media="all" href="/code/css/reset.css" />
<link rel="stylesheet" type="text/css" media="all" href="/code/css/960.css" />
<link rel="stylesheet" type="text/css" media="all" href="/960.css" />
</head>
<body>

<div class="container_12">
<!--Header Div -->
<div id="login">
  <a href="#">Login / Sign Up</a>
  </div>
  <table width="700" border="1" align="right">
    <tr>
        <td><span style="float:right">Logo</span></td>
    </tr>
  </table>

  	
    <div class="grid_12">
    <div id="greenBorders">
    <div id="title">
	  <div id="name">The Monkey Bar</div>
      </div>
	  <table width="700" border="1" align="right">
	    <tr>
	      <td><img src="/images/stars-big.gif" width="163" height="31" alt="stars" align="right" style="padding-top: 9px" /></td>
        </tr>
      </table>
  </div>
<div class="clear">
</div>
</div>
	<!-- END HeaderDiv -->
	
	<!-- Navbar Div -->
	<div class="grid_12" id="navbar">
    <div id="navbarLinks">
		<ul>
			<div class="selected"><li><a href="#">Profile</a></li></div>
			<li><a href="#">Highlights</a></li>
			<li><a href="#">User Reviews</a></li>
			<li><a href="#">Critics Reviews</a></li>
			<li><a href="#">Menu</a></li>
		</ul>
    </div>
	</div>
        <div id="share">
    <a href="#">Share</a>
    </div>
    
	<div class="clear">&nbsp;</div>
    <div class="grid_12">
    <div id="preview">
    <a href="#"><img src="/images/addEditBtn.jpg" /></a>
    <img src="/images/mustClick.jpg" width="595" style="margin-bottom:5px" />
    </div>
    <div id="previewSubmitBtns">
    <a href="#"><img src="/images/submit.jpg" /></a>
    </div>
    </div>
	
    
    <!-- End Navbar Div-->
    
<!--Top Section-->
	<div class="grid_5 topSection">
	  <div id="infoBox">
      	<div id="logoBoxandQuickNav">
        <div id="logoBox"><img src="/images/monkey.JPG" alt="" width="135" height="136" style="margin: auto" /></div>
      
      
        <div id="quickFactsNav">
        <a href="#">Write a Review</a>
		<a href="#"><img src="/images/contact.jpg" width="170" height="35" alt="contact" /></a><br />
		<a href="#"><img src="/images/notifyme.jpg" width="170" height="35" alt="notify me" /></a><br />
		<a href="#"><img src="/images/mapit.jpg" width="170" height="35" alt="mapit" /></a><br />
	  	</div>
</div>
           <div id="quickInfo">
		<h3>Address</h3><p>
        600 Showers Drive. <br />
        Mountain View, CA <p>
        <h3>Credit Cards</h3> <p>
        Visa, Mastercard <p>
        <h3>Insurance</h3>
        MetLife
        </div>
      </div>
	</div>
	
<div id="viewer">
		<img src="/images/viewer.jpg" width="539" height="300" alt="viewer" />
</div>
	
  <div class="clear">&nbsp;</div>
 
	<!--End TopSection-->
	
	<div class="clear">&nbsp;</div>
	<!--End Spacer-->
	
	<!-- LEFT SIDE -->
    <div id="leftColumn">
	<div class="grid_3">
    <div id="pageTitle">
		<h3>Profile:</h3>
       </div>
       <img src="/images/scrollBar.jpg" width="26" height="499" alt="scrollbar" class="scrollbar" />
       <div id="bodyText">
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, </p>
         <div id="seeMore">
        Reviews 1-20 of 30: 
        <span class="currentPage">
        1
        </span>
        <span class="alternatePages">
        <a href="#">2</a></span>
        <span class="alternatePages">
        <a href="#">Next</a>
        </span>
        </div>
        </div>
	</div>
    </div>
    <!-- eof LEFT SIDE -->
    
    <!-- RIGHT SIDE -->
    <div id="rightColumn">
    <span style="color:#666">
    Photo Galleries <br />
    <img src="/images/gallery.jpg" /> <br />
    Video Gallery <br />
    <img src="/images/gallery.jpg" /> <br />
    </span>
    <div id="hqCardHeader">
    <span class="carddeal">
    Don't have one? <a href="#"> It's free.</a>
    </span>
    </div>
   
   
   <div class="roundedcornr_box_883802">
   <div class="roundedcornr_top_883802"><div></div></div>
      <div class="roundedcornr_content_883802">
          <div id="hqCardSection">
    <img src="/images/gold.jpg" height="45" /><p>
   	<h4>Free Crown Molding + Hardware w/ Cabinet Purchase</h4>
    <ul>
    	<li>limit one per customer</li>
        <li>new customers only</li>
    </ul>
    	
    <img src="/images/silver.jpg" height="40" /><p>
    <h4> Free Sink w/ Granite punch over 50sq. feet</h4>
    <ul>
    	<li>new customers only</li>
    </ul>
    <img src="/images/bronze.jpg" height="40"/><p>
    <h4>Free Sink w/ Granite punch over 50 sq. feet</h4>
    <ul>
    	<li>new customers only</li>
    </ul>
    <span class="learnmore">
    <a href="#">Learn more</a>
    </span>
    </div>
      </div>
   <div class="roundedcornr_bottom_883802"><div></div></div>
</div>
   
   
   
   
  
    </div>
    
    <!-- eof RIGHT SIDE -->
	
	<div class="clear">&nbsp;</div>
	<!--End Stories Area-->
	
	<!--Spacer-->
	<div class="grid_12 spacer">
	</div>
	<div class="clear">&nbsp;</div>
	<!--End Spacer-->
	
	<!-- Footer -->
	<div id="legal">
	<p>&copy; HQChannel.com 2009</p>
</div>

	<!--End Stories Area-->		
</div>

</body>
</html>