<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Local Search Made Wonderful</title>
<link href="/stylesheet.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" media="all" href="/code/css/reset.css" />
<link rel="stylesheet" type="text/css" media="all" href="/code/css/960.css" />
<link rel="stylesheet" type="text/css" media="all" href="/960.css" />
</head>

<body>

<div class="container_12">

<!-- BOF HEADER -->
	
    <div class="superHeader">
    <div class="grid_3">
    Hello! : ) 
    <a href="#">Login</a> | <a href="#">Sign Up</a>
    </div>
    </div>
    
    <div class="clear"></div>
    
    <div class="logoHeader">
    <div class="grid_3">
    <img src="/images/hqLogo.jpg" height="200" />
    </div>
    </div>
    
    <div class="clear"></div>
    
    <div class="grid_10">
    <div class="search">
    <!–[if IE]><div class=”searchbgIE”><![endif]–>
    <form action="#" target="searchwindow">
    <input name="query" value="" class="search_field" type="text" />
    <input name="searchbg" class="searchbg" type="hidden" />
    <input name="user" value="#" type="hidden" />
    <input name="basehref" value="#" type="hidden" />
    <input name="template" value="default" type="hidden" />
    <input src="/images/searchTab.jpg" value="Search" class="search_button" type="image" />    
    </form>
    <!–[if IE]></div><![endif]–>
    </div>
    </div>

    
    <div class="clear"></div>
    
    <div class="mainNav">
    <div class="grid_12">
        <ul>
            <li><a href="#">home</a></li> |
            <li class="selected"><a href="#">business search</a></li> |
            <li><a href="#">classifieds</a></li>  |
            <li><a href="#">calendars</a></li>  |
            <li><a href="#">jackpot</a></li>  |
            <li><a href="#">generosity</a></li> | 
            <li><a href="#">hq card search</a></li>
        </ul>
    </div>
    </div>

	<div class="clear"></div>
    
    <div class="bannerAds">
    <div class="grid_12">
    <a href="#"><img src="/images/ad1.jpg" /></a>
    <a href="#"><img src="/images/ad2.jpg" /></a>
    <a href="#"><img src="/images/ad3.jpg" /></a>  
    
    <img src="/images/dropShadow.jpg" />
    </div>
    </div>
    
    <div class="clear"></div>
    
    <!-- EOF HEADER -->
    
    <!-- BOF LEFT SIDE -->
    
    <div class="searchLeftSide">
    
    <!-- BOF EXAMPLE -->
    
    <div class="searchResult">
    <div class="grid_8">
    
    <div class="grid_2">
    <img src="/images/resultsImage1.jpg" style="float:left" />
    </div>
    
    <div class="searchTitle">
    <div class="grid_2">
    <h7>Sphagetti World</h7><br />
    Cranford<br />
    <h8>Italian, Restaurant, Pizza</h8>
    </div>
    </div>
    
    <div class="grid_3" style="text-align:right; float:left;" >
    5 Reviews <img src="/images/stars-big.gif" width="90" /><br />
    <div class="cardRankNum"><img src="/images/cardRank.jpg" height="30" />54</div>
    </div>
    <br />
    Founded in 1963 by big Poppa Wallace when he came to America. Spanghetti World has been America's first ever all-Italian cuisine for everyone to
    </div>
    </div>
    <!-- EOF EXAMPLE -->
    
     <!-- BOF EXAMPLE -->
    
    <div class="searchResult">
    <div class="grid_8">
    
    <div class="grid_2">
    <img src="/images/resultsImage1.jpg" style="float:left" />
    </div>
    
    <div class="searchTitle">
    <div class="grid_2">
    <h7>Sphagetti World</h7><br />
    Cranford<br />
    <h8>Italian, Restaurant, Pizza</h8>
    </div>
    </div>
    
    <div class="grid_3" style="text-align:right; float:left;" >
    25 Reviews <img src="/images/stars-big.gif" width="90" /><br />
    <div class="cardRankNum"><img src="/images/cardRank.jpg" height="30" />21</div>
    </div>
    <br />
    Founded in 1963 by big Poppa Wallace when he came to America. Spanghetti World has been America's first ever all-Italian cuisine for everyone to
    </div>
    </div>
    <!-- EOF EXAMPLE -->
    
     <!-- BOF EXAMPLE -->
    
    <div class="searchResult">
    <div class="grid_8">
    
    <div class="grid_2">
    <img src="/images/resultsImage1.jpg" style="float:left" />
    </div>
    
    <div class="searchTitle">
    <div class="grid_2">
    <h7>Sphagetti World</h7><br />
    Cranford<br />
    <h8>Italian, Restaurant, Pizza</h8>
    </div>
    </div>
    
    <div class="grid_3" style="text-align:right; float:left;" >
    514 Reviews <img src="/images/stars-big.gif" width="90" /><br />
    <div class="cardRankNum"><img src="/images/cardRank.jpg" height="30" />99</div>
    </div>
    <br />
    Founded in 1963 by big Poppa Wallace when he came to America. Spanghetti World has been America's first ever all-Italian cuisine for everyone to
    </div>
    </div>
    <!-- EOF EXAMPLE -->
    
     <!-- BOF EXAMPLE -->
    
    <div class="searchResult">
    <div class="grid_8">
    
    <div class="grid_2">
    <img src="/images/resultsImage1.jpg" style="float:left" />
    </div>
    
    <div class="searchTitle">
    <div class="grid_2">
    <h7>Sphagetti World</h7><br />
    Cranford<br />
    <h8>Italian, Restaurant, Pizza</h8>
    </div>
    </div>
    
    <div class="grid_3" style="text-align:right; float:left;" >
    5 Reviews <img src="/images/stars-big.gif" width="90" /><br />
    <div class="cardRankNum"><img src="/images/cardRank.jpg" height="30" />24</div>
    </div>
    <br />
    Founded in 1963 by big Poppa Wallace when he came to America. Spanghetti World has been America's first ever all-Italian cuisine for everyone to
    </div>
    </div>
    <!-- EOF EXAMPLE -->

	</div>
    
    <!-- EOF LEFT SIDE -->
    
    <!-- BOF RIGHT SIDE -->
    <div class="searchRightSide">
    <div class="grid_3">
    
        <div class="roundedcornr_box_133951">
           <div class="roundedcornr_top_133951"><div></div></div>
              <div class="roundedcornr_content_133951">
              	<div class="sortOptions">
                     <ul>
                         <li class="sortSelected"><a href="#">sort by</a> <br /></li>
                         <li><a href="#">town</a> <br /></li>
                         <li><a href="#">user ranking</a> <br /></li>
                         <li><a href="#">hq card deal</a> <br /></li>
                     </ul>
                 </div>
              </div>
           <div class="roundedcornr_bottom_133951"><div></div></div>
        </div>
    
    </div>
    
    <div class="grid_1" style="margin-top:20px" ><br />
    <img src="/images/motionScrollBar.jpg" />
    </div>

    
    </div>
    <!-- EOF RIGHT SIDE -->
    
</div>

</body>
</html>
