- if edt == false
  - form_tag url_for(:controller => :prices,:action => :create_price,:tab_type => 'tab_1'),:multipart=>true do |f|
    = render :partial => 'myHQpage_admin_price_description_default', :locals => { :f => f ,:pricetab => @pricetab,:main_tab=>@tab.id,:edt=>false}
    #title
    
   
   
        
- else
  - form_tag url_for(:controller => :prices,:action => :create_price,:tab_type => 'other_tab'),:multipart=>true do |f|
    = render :partial => 'myHQpage_admin_price_description_default', :locals => { :f => f ,:pricetab => @pricetab,:main_tab=>@tab.id,:edt=>true}
    #title
   


        