.mainNav
  %ul
    %li
      =link_to "home"
    /  \|
    %li.selected
      =link_to "business search"
    / \|
    %li
      =link_to "hq card search"
    / \|
    %li
      =link_to "classifieds"
    / \|
    %li
      =link_to "calendars"
    / \|
    %li
      =link_to "jackpot"
    / \|
    %li
      =link_to "generosity"
    .clear