- form_for([@org, @event],:url => {:controller => :haml,:action =>:create_events,:id => @org.id}, :html => {:multipart => true}) do |f|
  = f.error_messages
  = render :partial => @event, :locals => { :f => f,:id=>@org.id }
  