

<!--[form:product]-->
<p><label for="event_name">Name</label><br/>
<%= text_field 'event', 'name'  %></p>

<p><label for="event_design">Designation</label><br/>
<%= text_field 'event', 'design'  %></p>

