%div
  %map{ :name => "uparo" }
    %area{ :href => "javascript://", :onmouseover => "dw_scrollObj.initScroll('searchWindow','up', 20)", :onmouseout => "dw_scrollObj.stopScroll('searchWindow')", :coords => "0,138,40,150", :onclick => "return false", :alt => "" }
    %area{ :href => "javascript://", :onmouseover => "dw_scrollObj.initScroll('searchWindow','up', 50)", :onmouseout => "dw_scrollObj.stopScroll('searchWindow')", :coords => "0,100,40,140", :onclick => "return false", :alt => "" }
    %area{ :href => "javascript://", :onmouseover => "dw_scrollObj.initScroll('searchWindow','up', 300)", :onmouseout => "dw_scrollObj.stopScroll('searchWindow')", :coords => "0,60,40,105", :onclick => "return false", :alt => "" }
    %area{ :href => "javascript://", :onmouseover => "dw_scrollObj.initScroll('searchWindow','up', 800)", :onmouseout => "dw_scrollObj.stopScroll('searchWindow')", :coords => "0,0,40,65", :onclick => "return false", :alt => "" }
  %map{ :name => "dnaro" }
    %area{ :href => "javascript://", :onmouseover => "dw_scrollObj.initScroll('searchWindow','down', 800)", :onmouseout => "dw_scrollObj.stopScroll('searchWindow')", :coords => "0,88,40,150", :onclick => "return false", :alt => "" }
    %area{ :href => "javascript://", :onmouseover => "dw_scrollObj.initScroll('searchWindow','down', 300)", :onmouseout => "dw_scrollObj.stopScroll('searchWindow')", :coords => "0,40,40,90", :onclick => "return false", :alt => "" }
    %area{ :href => "javascript://", :onmouseover => "dw_scrollObj.initScroll('searchWindow','down', 50)", :onmouseout => "dw_scrollObj.stopScroll('searchWindow')", :coords => "0,0,40,45", :onclick => "return false", :alt => "" }
    
  %map{ :name => "uparoSmall" }
    %area{ :href => "javascript://", :onmouseover => "dw_scrollObj.initScroll('calendarWindow','up', 20)", :onmouseout => "dw_scrollObj.stopScroll('calendarWindow')", :coords => "0,90,27,100", :onclick => "return false", :alt => "" }
    %area{ :href => "javascript://", :onmouseover => "dw_scrollObj.initScroll('calendarWindow','up', 50)", :onmouseout => "dw_scrollObj.stopScroll('calendarWindow')", :coords => "0,70,27,95", :onclick => "return false", :alt => "" }
    %area{ :href => "javascript://", :onmouseover => "dw_scrollObj.initScroll('calendarWindow','up', 300)", :onmouseout => "dw_scrollObj.stopScroll('calendarWindow')", :coords => "0,35,27,73", :onclick => "return false", :alt => "" }
    %area{ :href => "javascript://", :onmouseover => "dw_scrollObj.initScroll('calendarWindow','up', 800)", :onmouseout => "dw_scrollObj.stopScroll('calendarWindow')", :coords => "0,0,27,40", :onclick => "return false", :alt => "" }
  %map{ :name => "dnaroSmall" }
    %area{ :href => "javascript://", :onmouseover => "dw_scrollObj.initScroll('calendarWindow','down', 800)", :onmouseout => "dw_scrollObj.stopScroll('calendarWindow')", :coords => "0,58,27,100", :onclick => "return false", :alt => "" }
    %area{ :href => "javascript://", :onmouseover => "dw_scrollObj.initScroll('calendarWindow','down', 300)", :onmouseout => "dw_scrollObj.stopScroll('calendarWindow')", :coords => "0,28,27,60", :onclick => "return false", :alt => "" }
    %area{ :href => "javascript://", :onmouseover => "dw_scrollObj.initScroll('calendarWindow','down', 50)", :onmouseout => "dw_scrollObj.stopScroll('calendarWindow')", :coords => "0,0,27,30", :onclick => "return false", :alt => "" }
    
  %map{ :name => "uparoHQSmall" }
    %area{ :href => "javascript://", :onmouseover => "dw_scrollObj.initScroll('hqCardWindow','up', 20)", :onmouseout => "dw_scrollObj.stopScroll('hqCardWindow')", :coords => "0,90,27,100", :onclick => "return false", :alt => "" }
    %area{ :href => "javascript://", :onmouseover => "dw_scrollObj.initScroll('hqCardWindow','up', 50)", :onmouseout => "dw_scrollObj.stopScroll('hqCardWindow')", :coords => "0,70,27,95", :onclick => "return false", :alt => "" }
    %area{ :href => "javascript://", :onmouseover => "dw_scrollObj.initScroll('hqCardWindow','up', 300)", :onmouseout => "dw_scrollObj.stopScroll('hqCardWindow')", :coords => "0,35,27,73", :onclick => "return false", :alt => "" }
    %area{ :href => "javascript://", :onmouseover => "dw_scrollObj.initScroll('hqCardWindow','up', 800)", :onmouseout => "dw_scrollObj.stopScroll('hqCardWindow')", :coords => "0,0,27,40", :onclick => "return false", :alt => "" }
  %map{ :name => "dnaroHQSmall" }
    %area{ :href => "javascript://", :onmouseover => "dw_scrollObj.initScroll('hqCardWindow','down', 800)", :onmouseout => "dw_scrollObj.stopScroll('hqCardWindow')", :coords => "0,58,27,100", :onclick => "return false", :alt => "" }
    %area{ :href => "javascript://", :onmouseover => "dw_scrollObj.initScroll('hqCardWindow','down', 300)", :onmouseout => "dw_scrollObj.stopScroll('hqCardWindow')", :coords => "0,28,27,60", :onclick => "return false", :alt => "" }
    %area{ :href => "javascript://", :onmouseover => "dw_scrollObj.initScroll('hqCardWindow','down', 50)", :onmouseout => "dw_scrollObj.stopScroll('hqCardWindow')", :coords => "0,0,27,30", :onclick => "return false", :alt => "" }

  %map{ :name => "leftaro" }
    %area{ :href => "javascript://", :onmouseover => "dw_scrollObj.initScroll('addNewTabWindow','left', 100)", :onmouseout => "dw_scrollObj.stopScroll('addNewTabWindow')", :coords => "155,0,320,48", :onclick => "return false", :alt => "" }
    %area{ :href => "javascript://", :onmouseover => "dw_scrollObj.initScroll('addNewTabWindow','left', 300)", :onmouseout => "dw_scrollObj.stopScroll('addNewTabWindow')", :coords => "75,0,160,48", :onclick => "return false", :alt => "" }
    %area{ :href => "javascript://", :onmouseover => "dw_scrollObj.initScroll('addNewTabWindow','left', 800)", :onmouseout => "dw_scrollObj.stopScroll('addNewTabWindow')", :coords => "0,0,80,48", :onclick => "return false", :alt => "" }
  %map{ :name => "rightaro" }
    %area{ :href => "javascript://", :onmouseover => "dw_scrollObj.initScroll('addNewTabWindow','right', 800)", :onmouseout => "dw_scrollObj.stopScroll('addNewTabWindow')", :coords => "230,0,320,48", :onclick => "return false", :alt => "" }
    %area{ :href => "javascript://", :onmouseover => "dw_scrollObj.initScroll('addNewTabWindow','right', 300)", :onmouseout => "dw_scrollObj.stopScroll('addNewTabWindow')", :coords => "155,0,235,48", :onclick => "return false", :alt => "" }
    %area{ :href => "javascript://", :onmouseover => "dw_scrollObj.initScroll('addNewTabWindow','right', 100)", :onmouseout => "dw_scrollObj.stopScroll('addNewTabWindow')", :coords => "10,0,160,48", :onclick => "return false", :alt => "" }
    %area{ :href => "javascript://", :onmouseover => "dw_scrollObj.initScroll('addNewTabWindow','right', 0)", :onmouseout => "dw_scrollObj.stopScroll('addNewTabWindow')", :coords => "0,0,15,48", :onclick => "return false", :alt => "" }