#greenBorders.grid_12
  .grid_8{ :style => "float:left; width: 680px"}
    %h1{ :style => "font-weight:normal; color: #000; text-align: left;"}
      The Monkey Bar
  .grid_3{ :style => "text-align:right;"}
    %img{ :src => "/images/stars-big.gif", :alt => "rank", :height => "31", :width => "163" }
.clear