.grid_7#viewer{ :style => "margin-left: 5px; margin-right: 0px;"}
  #imagearea
    .mainFrame
      #image
        %a#previmg.imgnav{ :href => "javascript:slideShow.nav(-1)" }
        %a#nextimg.imgnav{ :href => "javascript:slideShow.nav(1)" }