<div id="title" style="display:none;" >
 <div class="inner" style = "height:60px;">
      <div class = "grid_6" style = "text-align: left; margin-right: 0px; width: 430px;">
           <div class = "disclaimerText">
          Title
     <%= f.text_field :title,:style => "height: 20px; width: 300px;"%>
      <div class="grid_1" style = "margin-left: 0px; float: right; text-align: right;">
       <%= link_to image_tag("/images/exitBtn.jpg", :height => "30",:url=>{:controller=>'prices',:action=>'close'} %>
         </div>
    </div>
  </div>
</div>
</div>