.grid_8{ :style => "border: 3px solid rgb(222, 242, 250); overflow: hidden; width: 533px; height: 293px; text-align: left; margin-top: 5px;" }
  .grid_5
    %span{ :style => "font-size: 45px; color: #1B75BC; float: left;"}
      2
    %h2{ :style => "margin: 26px; padding-left: 10px;"}
      Name your new template tab:
  .grid_1{ :style => "text-align: right; float:right;"}
    = link_to image_tag("/images/exitBtn.jpg", :height => "35", :style => "margin-top: 0px; margin-right: 0px;"),:controller => :haml,:action => :close,:id =>@org.id
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  .grid_4{ :style => "margin-top: 8px; height: 60px; float: left; text-align:left;"}
    - form_for @tab,:url => {:controller => :haml,:action => :addNavTab,:id => @org.id,:content => @tab_type} do |f|
      - if @t
        - unless @t.errors.empty?
          %ul
          - @t.errors.each do |attr, msg|
            %li
              %h2
                = attr+" "+msg
      = f.text_field :title,:style => "height: 20px; width: 300px;"
      = image_submit_tag("/images/createBtn.jpg",:height => 40,:style=> "margin: -27px -189px 2px 0px; float: right; height: 29px; width: 141px;")
      %span{ :style => "color: #BF1E2D; float:right;"}
        *maximum 6 characters!
      .grid_2{ :style => "float:left;"}