.bannerAds
  .grid_12
    = link_to image_tag('/images/ad1.jpg', :size => '280x200')
    #imageContainer
      %img.container1{ :src => "/images/STUB_01.jpg", :height => "200", :alt => "Image1", :width => "280" }
      
      
    = link_to image_tag('/images/ad3.jpg', :size=> '280x200')
    = image_tag('/images/dropShadow.jpg', :style => "display:inline;")


 