


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Affordable Worldwide Stamps</title>
<script type="text/javascript">
	 function getAnotherImage()
	 {
	 	document.getElementById('mainIdVal').src="/images/w1b.jpg";
	 }

 function getImage()
	 {
	 	document.getElementById('mainIdVal').src="/images/w1.jpg";
	 }
 function getAnotherImage1()
	 {
	 	document.getElementById('mainIdVal_1').src="/images/w2b.jpg";
	 }

 function getImage1()
	 {
	 	document.getElementById('mainIdVal_1').src="/images/w2.jpg";
	 }
 function getAnotherImage2()
	 {
	 	document.getElementById('mainIdVal_2').src="/images/w3b.jpg";
	 }

 function getImage2()
	 {
	 	document.getElementById('mainIdVal_2').src="/images/w3.jpg";
	 }
 function getAnotherImage3()
	 {
	 	document.getElementById('mainIdVal_3').src="/images/w4b.jpg";
	 }

 function getImage3()
	 {
	 	document.getElementById('mainIdVal_3').src="/images/w4.jpg";
	 }
 function getAnotherImage4()
	 {
	 	document.getElementById('mainIdVal_4').src="/images/w5b.jpg";
	 }

 function getImage4()
	 {
	 	document.getElementById('mainIdVal_4').src="/images/w5.jpg";
	 }


 function getAnotherImage5()
	 {
	 	document.getElementById('mainIdVal_5').src="/images/w7b.jpg";
	 }

 function getImage5()
	 {
	 	document.getElementById('mainIdVal_5').src="/images/w7.jpg";
	 }


 function getAnotherImage6()
	 {
	 	document.getElementById('mainIdVal_6').src="/images/w8b.jpg";
	 }

 function getImage6()
	 {
	 	document.getElementById('mainIdVal_6').src="/images/w8.jpg";
	 }

 function getAnotherImage7()
	 {
	 	document.getElementById('mainIdVal_7').src="/images/w6b.jpg";
	 }

 function getImage7()
	 {
	 	document.getElementById('mainIdVal_7').src="/images/w6.jpg";
	 }


</script> 
</head>

<body>

<div class= "grid_3" style = "text-align: left; margin-top: 46px; float: left; margin-left: 0; margin-right: 15px; width: 250px;">
<div id="w1">
<img src="/images/w1.jpg"  border="0" id="mainIdVal" onMouseOver="getAnotherImage();" onMouseOut= "getImage();" >
</div>
<div id="w2">
<img src="/images/w2.jpg" style= "width:260;"  border="0" id="mainIdVal_1" onMouseOver="getAnotherImage1();" onMouseOut= "getImage1();" >
</div>
<div id="w3">
<img src="/images/w3.jpg"  style= "width:250;"  border="0" id="mainIdVal_2" onMouseOver="getAnotherImage2();" onMouseOut= "getImage2();" >
</div>

<div  style = "width: 250px; height: 30px; text-align: right; padding-top: 5px;">
<%= link_to "Advertising Opportunities" %>
</div>

</div>

<div class="grid_5"  style = "text-align: left; margin-left:1px; margin-right: 0px; float: left;">

  <%= render :partial=>'video_girl'%> 
 <div id="w4">
<img src="/images/w4.jpg"  style= " margin-bottom: 5px;"  border="0" id="mainIdVal_3" onMouseOver="getAnotherImage3();" onMouseOut= "getImage3();" >
</div> 

 <div id="w5">   
<img src="/images/w5.jpg"  style= "width:418;"  border="0" id="mainIdVal_4" onMouseOver="getAnotherImage4();" onMouseOut= "getImage4();" >
</div>



</div>

 <div class ="grid_2" style = "text-align: left; margin-top: 35px; text-align: right; float: left; margin-right: 0px; margin-left: 45px; width: 195px;">
 
 <div id="w7" style = "margin-bottom: 5px;height: 440px;">
 <img src="/images/w7.jpg"  style= " margin-bottom: 5px; width: 195;"  border="0" id="mainIdVal_5" onMouseOver="getAnotherImage5();" onMouseOut= "getImage5();" >
 </div>
<div id= "w8">
 <img src="/images/w8.jpg"  style ="margin-right: 8px;"  border="0" id="mainIdVal_6" onMouseOver="getAnotherImage6();" onMouseOut= "getImage6();" >
</div> 

</div>


<div id="w6" style = "width: 882px;height: 127px;">     
<img src="/images/w6.jpg" style= "width: 617;mar gin-top:-4px;" alt = " "  border="0" id="mainIdVal_7" onMouseOver="getAnotherImage7();" onMouseOut= "getImage7();"> 
</div>

     
   





















</body>

</html>