.mainNav
  %ul
    %li
      =link_to "home"
    /  \|
    %li.selected
      =link_to "business search"
    / \|
    %li
      =link_to "hq card search"
    / \|
    %li#greyLI
      classifieds
    / \|
    %li#greyLI
      calendars
    / \|
    %li#greyLI
      jackpot
    / \|
    %li#greyLI
      generosity



    .clear