.grid_8{ :style => "margin: 0;"}
  #motion_scrollbar_horizontal
    %br
    %img{ :src => "/images/motionScrollBarLeft.jpg", :class => "left", :width =>"321", :height => "46", :alt => "", :usemap => "#leftaro"}
    %img{ :src => "/images/motionScrollBarRight.jpg", :class=> "right", :width =>"321", :height => "46", :alt => "", :usemap => "#rightaro"}
  
= render :partial => 'motion_speed_controls'