#motion_scrollbar.grid_1{:style => "margin: 5px 0 0 0;"}
  %br
  %img{ :src => "/images/motionScrollBarTop.jpg", :class => "up", :width =>"40", :height => "150", :alt => "", :usemap => "#uparo"}
  %img{ :src => "/images/motionScrollBarBottom.jpg", :class=> "down", :width =>"40", :height => "150", :alt => "", :usemap => "#dnaro"}
  
= render :partial => '/haml/motion_speed_controls'