%span{ :style => "color:#666;" }
  %a{ :href => "#"}
    Add Photos
  %span{ :style => "margin-left:185px;" }
    %a{ :href => "#" }
      Set Default Photo
  %br
  #gallery
    #thumbwrapper
      .innerThumb
        #thumbarea
          %ul#thumbs
            %li{ :value => "1" }
              .frame
                %img{ :src => "/images/thumbs/1.jpg", :height => "60", :alt => "", :width => "107" }
            %li{ :value => "2" }
              .frame
                %img{ :src => "/images/thumbs/2.jpg", :height => "60", :alt => "", :width => "107" }
            %li{ :value => "3" }
              .frame
                %img{ :src => "/images/thumbs/3.jpg", :height => "60", :alt => "", :width => "107" }
            %li{ :value => "4" }
              .frame
                %img{ :src => "/images/thumbs/4.jpg", :height => "60", :alt => "", :width => "107" }
            %li{ :value => "5" }
              .frame
                %img{ :src => "/images/thumbs/5.jpg", :height => "60", :alt => "", :width => "107" }
  
  %script{ :type => "text/javascript", :src => "/javascripts/slide.js" }
  %br
  .blueText
    Video Galleries
  %img{ :src => "/images/gallery.jpg", :width => "380"}
  %br
  %br
.myHQadminWidget
  %a{ :href => "#" }
    Manage My HQ Card Deals
  