.inner{ :style => "text-align: left; height: 125px;"}
  .grid_5{ :style => "float:left;"}
    .disclaimerText
      %span{ :style => "color: #BF1E2D; float:left; height: 4px;"}
        *
      item
    %input{ :type => "text", :style => "height: 20px; width: 350px;"}
    .disclaimerText
      description
    %textarea{ :type => "text", :style => "height: 40px; width: 350px;"}
    %br
    %a{ :href => "#", :style => "margin-right: 220px;"}
      Attach Image
    %a{ :href => "#"}
      Add Title
  .grid_1{ :style => "float:left;"}
    .disclaimerText
      price
    %input{ :type => "text", :style => "height:20px; width: 70px; margin-bottom: 30px;"}
    %img{ :src => "/images/add.jpg", :height => "35"}
    .disclaimerText
      %span{ :style => "color: #BF1E2D; float:right;"}
        *required