/ bof example
.disclaimerText
  heading
%input{ :type => "text", :style => "height: 20px; width: 350px; float:left;"}
.grid_2{ :style => "float:left; width: 103px"}
  %img{ :src => "/images/voteUp.jpg", :height => "30"}
  %img{ :src => "/images/voteDown.jpg", :height => "30"}
  %img{ :src => "/images/removeWhite.jpg", :height => "30"}
.disclaimerText
  description
%input{ :type => "text", :style => "height: 40px; width: 450px;"}
/ eof example