.grid_7{ :style => "border-bottom: 2px solid #BED538; margin: 0;"}
  %h2
    Menu
%br
%br
.grid_7{ :style => "background-image: url(/images/bgNav.jpg); background-repeat: no-repeat; height: 25px; margin: 0;" }
  .navbar{ :style => "margin-left: 10px;"}
    %ul
      .selected
        %li
          %a{ :href => "#" }
            Profile
      - @price_tabs.each do |tab|
        %li[tab]
          = link_to_remote tab.tab_name,:url=>{:controller=>'haml',:action=>'list_price_items',:id=>tab.id,:org_id=>@org.id},:update=>'searchContent'
= render :partial => 'motion_scroll_bar'
#searchWindow{ :style => "width: 495px; height: 430px; float: left;"}
  #searchContent{ :style => "text-align: left; margin-left: 15px;"}
    = render :partial => 'myHQpage_price_description_example'
    
