.inner{ :style => "height: 60px;"}
  .grid_6{ :style => "text-align: left; margin-right: 0px; width: 430px;"}
    .disclaimerText
      title
    %input{ :type => "text", :style => "height: 20px; width: 350px;"}
    %img{ :src => "/images/add.jpg", :height => "35", :style => "vertical-align: middle;"}
  .grid_1{ :style => "margin-left: 0px; float: right; text-align: right;"}
    %img{ :src => "/images/exitBtn.jpg", :height => "30", :style => ""}