.grid_6{ :style => "width: 390px; margin-top: 5px; margin-right: 0px;"}
  .innerBlue{ :style => "height: 275px;"}
    .grid_3{ :style => "margin: 0; width: 180px"}  
      .grid_2{ :style => "background-color: #fff; height: 140px; width: 145px;"}
        %img{ :src => "/images/monkey.JPG", :height => "110", :alt => "Logo" }


      %a{ :href => "#" }
        %img{ :src => "/images/writeareviewBtn.jpg", :width => "136", :alt => "Change Logo" }
      %a{ :href => "#" }
        %img{ :src => "/images/notifymeBtn.jpg", :width => "136", :alt => "Map It" }


    / Quick Facts' heights are measured as 20px drop downs, and three 70px text areas. That will fit inside the Quick Facts Box with 10 px padding.

