= render :partial => 'viewer_placeHolder_price'
.clear
       
.clear
      
.grid_7{:style =>"float:left; width: 538px; height: 500px; text-align: left;"}
  = render :partial => 'myHQpage_Event'
      