/ Footer
.grid_12{:style => "text-align:left;"}
  .grid_12{ :style => "font-size: 14px;"}
    HQ Traffic Dashboard
  .grid_12{ :style => "border-top: 2px solid #1B75BC; border-bottom: 6px ridge #1B75BC; margin-bottom: 20px"}
    .linksBlock
      %li
        %a{ :href => "#" }
          Manage HQ Card Deals
      %li
        %a{ :href => "#" }
          Create a Banner
    .linksBlock
      %li
        %a{ :href => "#" }
          Video Girl Advertising
      %li
        %a{ :href => "#" }
          Do Not Click Adverts
    .linksBlock
      %li
        %a{ :href => "#" }
          Create a Video
      %li
        %a{ :href => "#" }
          Direct Mail Marketing
    .linksBlock
      %li
        %a{ :href => "#" }
          HQ Magazine
      %li
        %a{ :href => "#" }
          Ad Design
    .linksBlock
      %li
        %a{ :href => "#" }
          Email Marketing
      %li
        %a{ :href => "#" }
          Magazine Inserts
/
  End Footer