/
  Navbar Div
.grid_12{ :style => "background-image: url(/images/bgNav.jpg); background-repeat: no-repeat; margin-top: 4px;" }
  .navbar
    .grid_9
      %ul
        .selected
          %li
            %a{ :href => "#" }
              Profile
        %li
          %a{ :href => "#" }
            Highlights
        %li
          %a{ :href => "#" }
            User Reviews
        %li
          %a{ :href => "#" }
            Critics Reviews
        %li
          %a{ :href => "#" }
            Menu

.clear
  \&nbsp;