.disclaimerText2
  Event Title
%input{ :type => "text", :style => "width: 290px;"}
.disclaimerText2
  Date
%input{ :type => "text", :style => "width: 290px;"}
.disclaimerText2
  End Date
%input{ :type => "text", :style => "width: 290px;"}
.disclaimerText2
  Description
%textarea{ :type => "text", :style => "width: 290px; height: 80px;"}
.disclaimerText2{ :style => "float: left; margin-right: 10px; padding-top: 6px;"}
  Add Image
%a{ :href => "#"}
  %img{ :src => "/images/browseBtn.jpg", :height =>"30"}
%input{ :type => "text", :style => "width: 290px;"}
.disclaimerText2
  Age Req.
%select{ :name => "Age Req", :style => "width:290px" }
  %option{ :selected => "selected", :value => "Age Requirement" }
    None
  %option{ :value => "Age Requirement"}
    18+
  %option{ :value => "Age Requirement" }
    21+
.disclaimerText2
  Street
%input{ :type => "text", :style => "width: 290px; height: 20px;"}
.disclaimerText2
  City
%input{ :type => "text", :style => "width: 290px; height: 20px;"}
.disclaimerText2
  Zip
%input{ :type => "text", :style => "width: 290px; height: 20px;"}
.disclaimerText2
  State
%input{ :type => "text", :style => "width: 290px; height: 20px;"}

%img{ :src => "/images/backBtn.jpg", :height => "20", :style => "float: left; margin-top: 10px; margin-right: 10px;"}
.disclaimerText2{ :style => "padding-top: 10px; margin-right: 115px; float: left;"}
  %a{ :href => "#"}
    Back
%a{ :href => "#"}
  %img{ :src => "/images/submit.jpg", :height => "25", :style => "padding-top: 5px;"}