<div id="viewer" class="grid_7" style="margin-left: 0px;">
<div class="grid_8" style = "border: 3px solid #DEF2FA; width: 533px; height: 307px; text-align: left; overflow: hidden;">
  <br><br><br>
<h1 style="margin-left: 175px;">
 <%= image_tag("/original.jpg" ,:height => "140", :width => "136")%></h1>
 <br>
   <h1 style="margin-left: 170px;">
<%= link_to image_tag("/images/confirmBtn.jpg", :height => "36") ,:action =>'myHQpage_admin',:id =>@org.id%> </h1>
 
</div>
</div>