<div id="viewer" class="grid_7" style="margin-left: 0px;">
<div class="grid_8" style = "border: 3px solid #DEF2FA; width: 533px; height: 307px; text-align: left; overflow: hidden;">
  <br><br><br><br><br><br>
<h1 style="margin-left: 75px;">
<%= link_to "Click Here to apply the changes" ,:action =>'myHQpage_admin',:id =>@org.id%> </h1>
</div>
</div>