!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %title
      Local Search Made Wonderful
    %link{ :href => "/stylesheets/stylesheet.css", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/960/reset.css", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/960/960.css", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/960/text.css", :rel => "stylesheet" , :media => "all", :type => "text/css"}
    %script{ :type => "text/javascript", :src => "/javascripts/jquery-1.3.2.min.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/jquery.corner.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/jquery.corners.inner_outer.js" }

  %body
    .container_12
  
      / BOF HEADER
        
      .superHeader
        = render :partial => 'login'
      .clear

      .logoHeader
        %img{ :src => "/images/hqLogo.jpg", :height => "200" }

      .search
        %form{ :action => "#"}
          %input{ :class => "text", :type => "text", :onclick =>"this.value=''", :value => "Local Search Made Wonderful" }
          %input{ :name => "searchbg", :type => "hidden" }
          %input{ :name => "template", :type => "hidden" }
          %input.search_button{ :type => "image", :src => "/images/searchTab.jpg", :value => "Search", :height => "35" }
    
      = render :partial => 'mainNav'
      = image_tag('/images/dropShadow.jpg', :style => "display:inline;")
      
      %div{ :style => "margin: 0 auto; width: 500px;"}
        .inner{ :style => "margin: 0 auto; text-align: left;"}
          %h3
            Can't get into your account?
          %br
          %br
          Forget your password? Enter your login email below, press submit, and we will stop everything we are doing, rush into our huge archives, and email you with instructions.
          %br
          %br
          email
          %br
          %input{ :type => "text", :rows => "1", :cols => "30", :style => "height: 20px; width: 460px;" }
          %div{ :style => "width: 465px; text-align: right;" }
            = image_tag('/images/submit.jpg', :height => "25", :style =>"margin-top: 4px;")