<div class="grid_8" style = "border: 3px solid #DEF2FA; width: 545px; height: 307px; text-align: left; overflow: hidden;">
<script type="text/javascript" src="swfobject.js"></script>
<script type="text/javascript">
     var s1 = new SWFObject("/imagerotator.swf","rotator","545","306","7");
      s1.addParam('allowscriptaccess','always');
      s1.addParam("allowfullscreen","true");
      s1.addVariable("file","/playlist.xml");
      s1.addVariable("width","545");
      s1.addVariable("height","306");
      s1.addVariable("frontcolor","0xFFFFFF");
      s1.addVariable('overstretch', 'true')
      s1.addParam('wmode','transparent')
      s1.addVariable('transition','fade')
      s1.write("viewer");
</script>
</div>