!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %title
      Local Search Made Wonderful
    %link{ :href => "/stylesheets/stylesheet.css", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/960/reset.css", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/960/960.css", :rel => "stylesheet", :media => "all", :type => "text/css" }
    %link{ :href => "/stylesheets/960/text.css", :rel => "stylesheet" , :media => "all", :type => "text/css"}
    %script{ :type => "text/javascript", :src => "/javascripts/jquery-1.3.2.min.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/jquery.select.js" }
    
  %body
    .container_12
      .grid_8{ :style => "border: 1px solid blue; width: 545px; height: 307px; text-align: left; overflow: hidden;" }
        .grid_4
          %h2{ :style => "margin: 10px 26px 15px 10px;"}
            Content Here
        .grid_2{ :style => "text-align: right; float: right;"}
          %img{ :src => "/images/removeWhite.jpg", :height => "25"}